:root {
    --bgClr: #111b21;
    --light: #202c33;
    --darkBg: #0c1115;
}

.app {
    display: grid;
    place-items: center;
    background-color: var(--darkBg);
    height: 100vh;
}

.app__body {
    display: flex;
    background-color: var(--light);
    /* margin-top: -50px; */
    height: 95vh;
    width: 95vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}